/* The general settings for logo class  */
.logo {
    position: absolute;
    height: 75vmin;
    width: 75vmin;
    border-style: none;
}
#logoWrapper {
    position: absolute;
    will-change: transform;
    z-index: 989;
}
#logo_spin {
    position: absolute;
    will-change: transform;
}
/* The logo in the top left of the cube  */
#logo_goHome {
    position: absolute;
    will-change: transform;
}
