/* The general settings for logo class  */
.logo {
    position: absolute;
    height: 75vmin;
    width: 75vmin;
    border-style: none;
}
/* The logo in the middle of the cube  */
#logo_center {
    position: relative;
    right: 50%;
    top: 50%;
}
#logo_spin {
        will-change: transform;
        position: absolute;
        -webkit-animation: rotation 15s infinite linear;
        animation: rotation 15s infinite linear;
        -webkit-transform: translate3d(35vmin, 30vmin, 0);
        transform: translate3d(35vmin, 30vmin, 0);
    }
/* The logo in the top left of the cube  */
#logo_top {
    position: absolute;
    top: 0;
    margin-left: 5vmin;
    height: 15vmin;
    width: 15vmin;
    border-style: none;
}
#logo_goHome {
    position: absolute;
    animation: subtleSway 5s infinite ease-in-out;
    -webkit-animation: subtleSway 5s infinite ease-in-out;
    will-change: transform;
}

