.controlBar {
    background-color: var(--nav-button-bg-color);
    display:flex;
    cursor: pointer;
    text-align: center;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.navButton {
    will-change: transform;
    margin-top: 1.618033vmin;
    background-color: var(--nav-button-bg-color);
    color: var(--nav-button-text-color);
    padding: var(--nav-button-padding);
    margin: var(--nav-button-margin);
    font-size: var(--nav-button-font-size);
    border-style: var(--nav-button-border-style);
    border-color: var(--nav-button-border-color);
    border-width: var(--nav-button-border-width);
    border-radius: var(--nav-button-border-radius);
}

.navButton:hover, .controlBar:hover, .navName:hover,
.navButton:focus, .controlBar:focus, .navName:focus {
    background-color: var(--nav-button-hover-bg-color);
    color: var(--nav-button-hover-text-color);
}

.navName {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--nav-button-bg-color);
    text-transform: uppercase;
    color: var(--nav-button-text-color);
    display: flex;
    /* Enable flexbox */
    flex-direction: column;
    /* Arrange children in a column */
    justify-content: center;
    /* Center content vertically */
    align-items: center;
    /* Center content horizontally */
    white-space: normal;
    /* Allow text to wrap */
    overflow: visible;
    /* Allow text to overflow */
    padding: 10px;
    text-align: center;
    /* Center text */
    height: 100%;
    /* Ensure it takes up the full height of the navButton */
    width: 100%;
    /* Ensure it takes up the full width of the navButton */
    cursor: pointer;
    /* Ensure it retains the cursor pointer */
}
