.navButton {
    will-change: transform;
    margin-top: 1.618033vmin;
    background-color: var(--nav-button-bg-color);
    color: var(--nav-button-text-color);
    padding: var(--nav-button-padding);
    margin: var(--nav-button-margin);
    font-size: var(--nav-button-font-size);
    border-style: var(--nav-button-border-style);
    border-color: var(--nav-button-border-color);
    border-width: var(--nav-button-border-width);
    border-radius: var(--nav-button-border-radius);
    transition: transform 0.3s;
}
.navButton:hover, .navName:hover,
.navButton:focus, .navName:focus {
    background-color: var(--nav-button-hover-bg-color);
    color: var(--nav-button-hover-text-color);
}
.navButton:hover, .navButton:focus{
    border-color: var(--nav-button-hover-text-color);
    border-width: 3px;
    animation: groovy 0.5s ease-in-out infinite;
    /* Apply the animation on hover */
}
.navName {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--nav-button-bg-color);
    text-transform: uppercase;
    color: var(--nav-button-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: normal;
    overflow: visible;
    padding: 10px;
    text-align: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}