@media all {
    body {
        max-width: none;
    }
    iframe {
        z-index: 1000;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
    }
}

@media (max-width: 482px) {
    #wrapper-left {
        position: absolute;
        left: 0;
        top: 0;
        height: 20%;
        width: 100%;
        z-index: 89;
        margin-bottom: 35vmin;
    }

    #wrapper-right {
        position: absolute;
        right: 0;
        top: 145vmin;
        height: 20%;
        width: 100%;
        z-index: 88;
    }
    #cube {
        margin-left: 10vmin;
        margin-top: 85vmin;
        max-height: 60%;
    }
    .element,
    .sl_name {
        font-size: 2vmin;
    }

}

@media (min-width: 670px) {
    #wrapper-left {
        position: absolute;
        left: 0;
        top: 0;
        height: 20%;
        width: 100%;
        z-index: 89;
        margin-bottom: 35vmin;
    }
    #wrapper-right {
        position: absolute;
        right: 0;
        top: 145vmin;
        height: 20%;
        width: 100%;
        z-index: 88;
    }
}

@media (min-width: 961px) {
    #wrapper-left {
        position: absolute;
        left: 0;
        top: 0;
        width: var(--width);
        height: 100%;
        z-index: 89;
    }
    #wrapper-right {
        position: absolute;
        right: 0;
        top: 0;
        width: var(--width);
        height: 100%;
        z-index: 88;
    }
    #cube {
        margin-left: 10vmin;
        margin-top: 53vmin;
        max-height: 60%;
        z-index: 189;
    }
}