#wrapper_left,
#wrapper_right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 20%;
    width: 100%;
    z-index: 889;
}
/* Styles for max-width 482px */
@media (max-width: 482px) {
    #wrapper_left {
        flex-direction: row;
        left: 0;
        top: 0;
        height: 20%;
        width: 100%;
        margin-top: 2vmin;
        margin-bottom: 5vmin
    }
    #topfirst {
        margin-left: 32vmin;
    }

    #wrapper_right {
        flex-direction: row;
        right: 0;
        top: 85vmin;
        height: 20%;
        width: 100%;
    }

    #cube {
        margin-left: 6vmin;
        margin-top: 35vmin;
    }

    .element,
    .sl_name {
        font-size: 2vmin;
    }
}
/* Styles for max-width 960px */
@media (max-width: 960px) {
    #cube {
        margin-left: 10vmin;
        margin-top: 85vmin;
    }


    #wrapper_left {
        left: 0;
        top: 0;
        height: 20%;
        width: 100%;
        margin-top: 5vmin;
    }

    #wrapper_right {
        left: 0;
        top: 0;
        height: 20%;
        width: 100%;
        top: 145vmin;
    }
}
/* Styles for min-width 961px */
@media (min-width: 961px) {

    .navButton {
        min-width: var(--nav-button-min-width);
        max-height: var(--nav-button-max-height);
    }


    #wrapper_left {
        z-index: 889;
        position: absolute;
        left: 0;
        top: 0;
        width: var(--nav-wrapper-default-width);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #wrapper_right {
        z-index: 890;
        position: absolute;
        right: 0;
        top: 0;
        width: var(--nav-wrapper-default-width);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navButton:first-child {
        margin-top: 28vmin;
    }
}