#wrapper_left,
#wrapper_right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
}
#wrapper_left {z-index: 889;}
#wrapper_right {z-index: 890;}
@media only screen and (max-width: 428px) {
    #scene {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
    }
    #wrapper_left,
    #wrapper_right {
        height: 20%;
    }

    @media (orientation: portrait) {
        #wrapper_left {
            top: 0;
            left: 0;
            z-index: 889;
        }

        #wrapper_right {
            bottom: 0;
            left: 0;
            z-index: 890;
        }
        #wrapper_left .navButton:first-child {
            margin-left: 18vmin;
            width: 20%;
            margin-right: 0;
        }

        #wrapper_left .navButton {
            margin-right: 0;
        }
        #logoWrapper {
            position: fixed;
            top:8vmin;
            left:4vmin;
            will-change: transform;
            z-index: 989;
        }
    }

    @media (orientation: landscape) {
        #scene {
            transform: translate(-50%, -50%);
        }
        #wrapper_left,
        #wrapper_right {
            width: 20%;
            height: 100%;
            flex-direction: column;
        }

        #wrapper_left {
            left: 0;
            top: 0;
            z-index: 889;
        }

        #wrapper_right {
            right: 0;
            top: 0;
            z-index: 890;
        }
    }
    #cube {
        margin-left: 0vmin;
        margin-top: 25vmin;
        margin-bottom: 0vmin;
    }

    .navButton {
        max-height: 7.5vmin;
        max-width: 8vmin;
        margin-left: 0.39vmin;
        margin-right: 0.55vmin;
    }
}

@media only screen and (min-width: 429px) and (max-width: 960px) {
    #scene {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
    }
    #wrapper_left,
    #wrapper_right {
        height: 20%;
    }

    @media (orientation: portrait) {
        #wrapper_left {
            top: 0;
            left: 0;
            z-index: 889;
        }

        #wrapper_right {
            bottom: 0;
            left: 0;
            z-index: 890;
        }
        #wrapper_left .navButton:first-child {
            margin-left: 18vmin;
            width: 20%;
            margin-right: 0;
        }

        #wrapper_left .navButton {
            margin-right: 0;
        }
        #logoWrapper {
            position: fixed;
            top: 8vmin;
            left: 4vmin;
            will-change: transform;
            z-index: 989;
        }
    }

    @media (orientation: landscape) {
        #scene {
            transform: translate(-50%, -50%);
        }
        #wrapper_left,
        #wrapper_right {
            width: 20%;
            height: 100%;
            flex-direction: column;
        }

        #wrapper_left {
            left: 0;
            top: 0;
            z-index: 889;
        }

        #wrapper_right {
            right: 0;
            top: 0;
            z-index: 890;
        }
    }

    #cube {
        margin-left: 2vmin;
        margin-top: 25vmin;
    }

    .navButton {
        max-height: 7.5vmin;
        max-width: 10vmin;
        margin-left: 0.25vmin;
        margin-right: 0.75vmin;
    }
}

@media (min-width: 961px) {
    #scene {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #wrapper_left,
    #wrapper_right {
        width: var(--nav-wrapper-default-width);
        height: 100%;
        flex-direction: column;
    }

    #wrapper_left {
        left: 0;
        top: 0;
        z-index: 889;
    }

    #wrapper_right {
        right: 0;
        top: 0;
        z-index: 890;
    }

    .navButton {
        min-width: var(--nav-button-min-width);
        min-height: var(--nav-button-max-height);
    }

    .navButton:first-child {
        margin-top: 28vmin;
    }
    #logo_goHome {
        animation: subtleSway 5s infinite ease-in-out;
        -webkit-animation: subtleSway 5s infinite ease-in-out;
    }
    #logo_spin {
        -webkit-animation: rotation 15s infinite linear;
        animation: rotation 15s infinite linear;
        -webkit-transform: translate3d(35vmin, 30vmin, 0);
        transform: translate3d(35vmin, 30vmin, 0);
    }
    #logoWrapper {
        position: fixed;
        top: 8vmin;
        left: 4vmin;
        will-change: transform;
        z-index: 989;
    }
}